

<div class="buttoni">
    
        <sly data-sly-use.buttoni="com.mysite.core.core.models.KiteCarousel" data-sly-list.butt="${buttoni.products}">
           
               
        <h2><a href="${butt.link}" class="link-buttoni">${butt.title}</a></h2>
                    
             
        </sly>
    </div>
    
    <style>
    


.link-buttoni {
    display: inline-block;
    font-size: 20px;
    color: black;
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left:37%;
}

.link-buttoni:hover {
    background-color: #2980b9;
}


    </style>



