<div data-sly-use.feedbackModel="com.mysite.core.core.models.FeedbackModel">
    <ul class="feedback-list">
        <li class="feedback-item" data-sly-repeat.feedback="${feedbackModel.feedbacks}">
            <h2 class="feedback-fullname">${feedback.fullname}</h2>
            <p class="feedback-text">Email: ${feedback.email}</p>
            <p class="feedback-text">Feedback: ${feedback.feedback}</p>
            <p class="feedback-text">Trip: ${feedback.trip}</p>
            <p class="feedback-text">Group Size: ${feedback.group}</p>
            <p class="feedback-text">Rating: ${feedback.rating}</p>
            <p class="feedback-text">Comfortable for Family: ${feedback.family}</p>
        </li>
    </ul>
</div>


<style>
.feedback-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feedback-item {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.feedback-item:hover {
    transform: scale(1.03);
}

.feedback-fullname {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.feedback-text {
    color: #666;
}
</style>
