<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<div class="carousel-container">
    <div class="owl-carousel owl-theme">
        <sly data-sly-use.productModel="com.mysite.core.core.models.KiteCarousel" data-sly-list.pro="${productModel.products}">
            <div class="product-items">
                <img src="${pro.fileReference}" alt="${pro.product}">
                <div class="product-detailss">
                    <h2><a href="${pro.link}" class="link">${pro.title}</a></h2>
                    <p>${pro.description}</p>
                </div>
            </div>
        </sly>
    </div>
</div>


<style>
.carousel-container {
    overflow: hidden;
    width: 100%;
}

.product-items {
    position: relative;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.product-items img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detailss {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    color: black;
    opacity: 0;
    padding: 20px;
    transition: opacity 0.3s ease;
    border-radius: 15px;
    text-align: center;
}

.product-items:hover .product-detailss {
    opacity: 1;
}


</style>

<script>
 $(".owl-carousel").owlCarousel({
    items: 3,
    loop: true,
    margin: 10,
    autoplay: true,
    autoplayTimeout: 2000,
    autoplayHoverPause: true,
    nav: false,
    dots:false,
   navText: ["<<",">>"]
});


</script>
