 <sly data-sly-use.productModel="com.mysite.core.core.models.KiteCarousel">
    <ul class="socialmedia-list socialmedia-section" data-sly-list.pro="${productModel.products}">
        <li class="socialmedia-item">
            <a href="${pro.link}" class="link">
                <img src="${pro.fileReference}" alt="${pro.product}">
            </a>
            <div class="socialmedia-details">
                <h2>${pro.product}</h2>
            </div>
        </li>
    </ul>
    </sly>

   <style>
    /* Social media section CSS */
    .socialmedia-section .socialmedia-item {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .2s;
        border: none;
    }

    .socialmedia-section .socialmedia-item img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        transition: transform .2s;
    }

    .socialmedia-section .socialmedia-item:hover {
        background-color: #f0f0f0;
    }

    .socialmedia-section .socialmedia-item img:hover {
        transform: scale(1.10);
    }
    </style> 